  
h1{font-family: "comic sans ms", Times, serif;
}


div.a {
  
  font-family: "comic sans ms", Times, serif;
}

div.b {
 font-family: "comic sans ms", Times, serif;

}

div.c {

  font-family: "comic sans ms", Times, serif;
} 